*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000000;
color:rgb(255, 255, 255);
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#7b5581;
}

header h2{
color:#fffff2;
}

nav a{
color:rgb(255, 255, 255);
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
background:linear-gradient(rgba(0,0,0, 0.55),rgba(0, 0, 0, 0.55)),
url("C:\\Users\\RIAZ SONS\\Downloads\\movie-theater-cinema.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}


.hero h1{
    font-size:48px;
    margin-bottom:20px;
    line-height:1.4;
}   

.hero button
{
margin-top:20px;
}

.hero p{
font-size:20px;
margin-bottom:20px;
}

button{
padding:12px 30px;
background:#7b5581;
border:none;
color:rgb(255, 254, 255);
border-radius:30px;
font-size:18px;
cursor:pointer;
}

.movies{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
padding:60px 8%;
}

.card{
background: #7b5581;
border-radius:10px;
overflow:hidden;
text-align:center;
transition:.3s;
}
.card:hover{
transform:translateY(-20px);
box-shadow:0 40px 40px rgb(144, 13, 196);
}

.card img{
width:100%;
height: 350px;
object-fit:cover;
}

.card h3{
    font: size 22px;
    font-weight: bold;
    color: #fefdff;
    margin: 15px 0;
}

footer{
    margin-top: 50px;
text-align:center;
padding:20px;
background:#7b5581;
color:#ffff
}


/* Tablet */

@media (max-width:992px) {

.movies{
grid-template-columns:repeat(2,1fr);
}
header{
flex-direction:column;
}

nav{
margin-top:10px;
}
}


/* Mobile */

@media(max-width:600px){

.movies{
grid-template-columns:1fr;
}

.hero h1{
font-size:32px;
}

.hero p{
font-size:16px;
}
nav{
display:flex;
flex-direction:column;
align-items:center;
}
nav a{
margin:10px 0;
}

}
